

:root {
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #f3f4f6;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  
  .background {
    height: 400px;
    background-color: var(--extra-light);
    position: relative;
    margin-bottom: 5rem;
  }
  
  .background .image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow: hidden;
  }
  
  .background img {
    width: 100%;
  }
  
  .content {
    max-width: 600px;
    padding: 1rem;
    margin: auto;
    text-align: center;
  }
  
  .judul {
      margin-top: 20px;
      font-weight: 400;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    color: var(--text-dark);
  }
  
  .title span {
    font-weight: 300;
  }
  
  .subtitle {
    margin-bottom: 2rem;
    color: var(--text-light);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.4em;
    line-height: 30px;
  }
  
  .read__more {
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  @media screen and (width < 500px) {
    .background {
      height: 300px;
      margin-bottom: 3rem;
    }
  
    .background .image {
      height: 200px;
      width: 200px;
      margin-top: 40px;
    }
  
    .title {
      font-size: 2.5rem;
    }

    /* .service__grid {
      height: 250px;
      margin-top: auto;
      width: 100%;
      display: inline;
    }

   */

   .service {
    height: 100vh;
   }



  }
  
  
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  
  /* Skill */
  .service, footer {
    background-color: var(--primary-color);
  }
  
  .service {
      background-color: #F3F4F6;
      height: 600px;
      margin-top: 100px;
  }
  
  /* .service__grid,
  .project__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 5rem;
  }
  
  .service__grid {
      display: flex;
      justify-content: center;
      height: 250px;
  } */

  /* .service__grid {
    background-color: #B42119;
    display: grid;
  }
 */


 .service__grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
 }






  .service__card {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    border-radius: 5%;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
  

    width: 400px;
    overflow: hidden;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    transform: scale(1);

    
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      right: -16px;
      background: #319ba2;
      height: 32px;
      width: 50px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
      margin-top: -40px;
    }
  
    &:hover:before {
      transform: scale(21);
    }
  }

  .service__card:hover {
    background: #319ba2; 
    
    cursor: pointer;
  }
  
  .service__card h4{
    margin-top: -20px;
  }
  
  .service__card p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.2em;
    line-height: 20px;
  }
  
  .service__card:hover {
    p {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255, 0.8);
    }
    h4 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
  }
  
  
  
  
  .service__card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
  
  /* PREVIEW */
  .preview {
    margin-top: 250px;
    width: 100%;
  }
  
  .preview p {
    text-align: center;
    font-size: 1.7em;
  }
  
  
  
  
  
  
  .service__card i {
    font-size: 1.5rem;
  }
  
  .service__card h4 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: left;
    padding-top: 30px;
  }
  
  .service__card p {
    padding-top: 15px;
    color: var(--text-light);
    text-align: left;
  }
  
  .service__card .read__more {
    width: max-content;
    padding: 0.5rem 1rem;
    color: var(--text-light);
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
  }
  
  .section__title {
      padding-top: 50px;
  }
  
  
  .section__title span {
      color:#6b7280;
  }
  
  .section-title {
      text-align: center;
      margin-right: 50%;
  }
  
  .kiri {
    width : 60%;
    margin-left: 50px;
  
  }
  
  .kiri h1 {
      text-align: left;
      font-weight: 500;
  }
  
  .kiri h2{
      text-align: left;
      width: 90%;
      text-align: left;
      font-size: 1.4em;
      color: grey;
      font-family: 'Raleway', sans-serif;
      line-height: 30px;
  }
  
  .kiri h1 {
      text-align: left;
  }
  
  
  .kanan {
    width: 60%;
    margin-left: 40px;
  }
  
  .kanan h1  {
      text-align: left;
      padding-left: 50px;
  }
  
  .kanan h2 {
      text-align: left;
      padding-left: 50px;
      text-align: left;
      width: 90%;
      text-align: left;
      font-size: 1.4em;
      color: grey;
      font-family: 'Raleway', sans-serif;
      line-height: 30px;
  }
  
  .icon {
      width: 30px;
      float: left;
  }
  
  /* PORTOTOFOLIO */

  @media screen and (width < 500px) {
    .content {
      margin-top: 70px;
    }

    .section-title {
     margin: auto;
    }

    .service {
      height: 900px;
    }

    .service__grid {
      margin-top: 0px;
    }

    .kiri {
      width: 100%;
      text-align: center;
      margin-bottom: 100px;

    }

    .kiri h1, .kiri h2{
     width: 82%;
     padding-left: 30px;
     padding-right: 20px;
     text-align: left;

    }

    .tulisan {
      margin: auto;
      width: 400px;

    }

    .tulisan h1 {
      margin-left: 17px;
    }

    .tulisan h2 {
      margin: auto;
      text-align: left;
    }

    /* .container_miro {
      margin-left: 1%;
    } */

    .container_miro p {
      padding-top: 20px;
      text-align: left;
    }

    /* .miro {
     margin-left: 40px;
    } */

    .miro1 {
      width: 50px;
      margin-left: 0px;
      float: left;
    }

    .kiri_tulisan {
      margin-top: -380px;
    }

    .tulisan h1 {
      font-weight: bold;
    }

    .foto_project {
      width: 40px;
      height: 40px;
      margin-left: 50px;
      margin-top: -40px;
    }

    .tulisan {
      margin-top: -50px;
    }

    .kiri_cofi{
      margin-top: -100px;
    }

    .foto_project_cofi {
      margin-top: -130px;
      width: 40px;
      margin-left: -55px;
    }

    .card_gambar_cofi {
      margin-top: -300px;
    }


  }
  
  
  /* PROJECT */
  
  .fadeInRight {
    width: 1000wh;
  }
  
  .foto_project {
    width : 450px;
    height: 300px;
  }
  
  .card_project {
    width: 400px;
      height: 420px;
      border-radius: 15px;
      padding: 1.5rem;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(black, 0.5);
      &:hover {
          transform: translateY(20px);
      cursor: pointer;
      
          &:before {
              opacity: 1;
          .info {
              opacity: 1;
              transform: translateY(0px);
      }
      }
    }
  
  
      &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          background: rgba(black, 0.6);
          z-index: 2;
          transition: 0.5s;
          opacity: 0;
    }
  
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
    }
  
  
  
      /* .info {
          position: relative;
          z-index: 3;
          color: white;
          opacity: 0;
          transform: translateY(30px);
          transition: 0.5s;
    }
          h1 {
              margin: 0px;
      }
          p {
              letter-spacing: 1px;
              font-size: 15px;
              margin-top: 8px;
      }
          button {
              padding: 0.6rem;
              outline: none;
              border: none;
              border-radius: 3px;
              background: white;
              color: black;
              font-weight: bold;
              cursor: pointer;
              transition: 0.4s ease;
      }
              &:hover {
                  background: dodgerblue;
                  color: white;
        } */
  
  
  }
  
  
  
  .card_project_laptop {
    width: 440px;
      height: 420px;
      border-radius: 15px;
      padding: 1.5rem;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(black, 0.5);
    margin-left: 90px;
      &:hover {
          transform: translateY(20px);
      cursor: pointer;
      
          &:before {
              opacity: 1;
          .info {
              opacity: 1;
              transform: translateY(0px);
      }
      }
    }
  
  
      &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          background: rgba(black, 0.6);
          z-index: 2;
          transition: 0.5s;
          opacity: 0;
    }
  
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
    }
  
  
  
      /* .info {
          position: relative;
          z-index: 3;
          color: white;
          opacity: 0;
          transform: translateY(30px);
          transition: 0.5s;
    }
          h1 {
              margin: 0px;
      }
          p {
              letter-spacing: 1px;
              font-size: 15px;
              margin-top: 8px;
      }
          button {
              padding: 0.6rem;
              outline: none;
              border: none;
              border-radius: 3px;
              background: white;
              color: black;
              font-weight: bold;
              cursor: pointer;
              transition: 0.4s ease;
      }
              &:hover {
                  background: dodgerblue;
                  color: white;
        } */
  
  
  }
  
  /* GAMBAR */
  
  
  .card_gambar h1 {
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: -50px;
  }
  
  /* Gambar detail */
  .gambar_detail {
    display: flex;
    border-radius: 15px;
    
  }
  
  .container_all{
    width: 100%;
    height: 600px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
  }
  
  .container_all:hover .overlay{
    opacity: 1;
    transform: scale(1);
  }
  
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
  }
  
  .overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    font-family: Sans-serif;
  }
  
  
  .overlay button {
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width : 200px;
    height: 50px;
    border-color: #81d89b;
    border-radius: 5%;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
  
  }
  
  /* .overlay button:hover {
    background-color: white;
  }
  
  .overlay button:hover a {
    color: #04AA6D;
  } */
  
  .link {
    color: white;
  }
  
  
  .container_all img{
    transition: transform .8s ease;
  }
  
  .container_all:hover img{
    transform: scale(1.1);
  }
  
  /* CONTACT */
  
  .card_contact {
    background-color: #2D2D2D;
    padding-top: 30px;
  }
  .card_contact h1, h2, p {
    text-align: center;
  }
  
  .card_contact h1 {
    font-size: 2em;
  }
  
  .card_contact h2 {
    font-size: 1.4em;
    color: rgb(131, 130, 130);
    width: 700px;
    margin: auto;
  }
  
  .card_contact p {
    padding-top: 20px;
    width: 700px;
    margin: auto;
    text-align: center;
  }
  
  
  .icon_contact {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  
  
  .icon_contact i {
    font-size: 25px;
    margin-right: 10px;
    border: 1px solid #757575;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #319BA2;
  }
  
  .icon_contact i:hover {
    cursor:  pointer;
    transform: scale(1);
    background-color: white;
  }
  
  .fa-dribbble:hover {
    color: #E74D89;
  }
  
  .fa-facebook-f:hover {
    color: #1877F2;
  }
  
  .fa-whatsapp:hover {
    color: #1DA112 ;
  }
  
  .fa-envelope:hover {
    color: #B42119;
  }
  
  .fa-linkedin-in:hover {
    color: #006498;
  }
  
  .fa-behance:hover {
    color: rgb(0, 0, 106);
  }
  
  /* .icon_contact i {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .tulisan_miro{
    display: flex;
    padding-bottom: 20px;
    width : 70%;
    text-align: left;
    margin-left: 0px;
  }
  
  .tulisan p {
    display: flex;
    padding-bottom: 20px;
    width : 70%;
    text-align: left;
    margin-left: 50px;
  }


.miro {
  width: 50px;
  float: left;
}
      

.miro_travel {
  width: 50px;
  margin-left: -550px;
}


.button_figma {
  width: 100px;
}
    